{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h2 class="username">
    {% if request.user.first_name %}
      {{ request.user.first_name }}
    {% else %}
      {{ request.user.username }}
    {% endif %}
    <a style="color: red;" href="{% url 'logout' %}">выйти</a>
  </h2>
  <form action="{% url 'update_user' %}" method="post">
    {% csrf_token %}
    <div style="margin-left: 20px; margin-top: 20px; margin-bottom: 40px;">
        <span style="font-weight: 900;">ваше имя:</span><br> 
        <div style="margin-top: 10px; width: 360px;" class="input-group mb-3">
          <input type="text" class="form-control" name="username" value="{{ request.user.first_name }}" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">сохранить</button>
        <a href="{% url 'change_pass' %}" style="margin-left: 20px;">сменить пароль</a>
    </div>

  </form>
	<p style="margin-left: 20px;">Все ваши звонки за сегодняшний день:</p>
	{% for i in last_call %}
  <hr>
    <div style="margin-left: 20px;">
      <p><a href="{{ i.client.get_absolute_url }}"><span class="align-top" style="margin-left: 10px;">{{ i.get_name }}</span></a><br>
        <audio controls style="outline: none; margin-top: 10px;" class="align-top">
          <source src="{{ i.url.url }}"> 
        </audio><br>
        <span style="color: #404040; margin-top: 10px; margin-left: 10px;">{{ i.call_date }}</span>
      </p>
    </div>
	{% endfor %}
	<hr>
	<p style="margin-left: 20px;">Всего звонков: {{ last_call_count }}</p>
{% endblock %}