{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div style="margin-top: 20px; margin-left: 20px;">
    <form action="{% url 'change_pass' %}" method="post">
        {% csrf_token %}
        {{ form.errors }}
        <p>Текущий пароль:</p>
        {{ form.old_password }}<br>
        <p style="margin-top: 20px;">Новый пароль:</p>
        {{ form.new_password1 }}<br>
        <p style="margin-top: 20px;">Повторите пароль:</p>
        {{ form.new_password2 }}<br>
        <button class="btn btn-outline-secondary" style="margin-top: 20px;" type="submit" id="button-addon2">сохранить</button>
    </form>
  </div>
{% endblock %}