{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 style="margin-top: 20px; text-align: center;">Создание нового клиента</h2><br>
<form method="post" action=".">
  {% csrf_token %}
  <div style="text-align: center;">
  <span style="font-weight: 900;">ФИО:</span><br>
    <div style="margin-left: 15%; width: 70%;" class="input-group mb-3">
      <input style="" type="text" class="form-control" name="full_name" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
  </div>
  <div style="text-align: center;">
  <span style="font-weight: 900;">Номер телефона:</span><br>
    <div style="margin-left: 15%; width: 70%;" class="input-group mb-3">
      <input style="" type="text" class="form-control" name="phone_number" id="phone" aria-label="Recipient's username" placeholder="+7(9__) ___-____" aria-describedby="button-addon2">
    </div>
  </div>
  <div style="text-align: center;">
  <span style="font-weight: 900;">Почта:</span><br>
    <div style="margin-left: 15%; width: 70%;" class="input-group mb-3">
      <input style="" type="text" class="form-control" name="email" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
  </div>
  <div style="text-align: center;">
  <span style="font-weight: 900;">Источник звонка:</span><br>
    <div style="margin-left: 15%; width: 70%;">
      <select name="source_call" class="form-select" id="floatingSelect" aria-label="Floating label select example">
        <option value="интернет">Не определено</option>
        <option value="интернет">интернет</option>
        <option value="наружная реклама">наружная реклама</option>
        <option value="рекомендация">рекомендация</option>
        <option value="циан">циан</option>
        <option value="яндекс недвижимость">яндекс недвижимость</option>
      </select>
    </div>
  </div>
      <div style="text-align: center;"><br>
        <span style="font-weight: 900;">Текущая ситуация:</span><br>
        <div style="margin-left: 15%; width: 70%;">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="current_situation" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
      </div>
      <span style="font-weight: 900;">Желаемая ситуация:</span><br>
      <div style="margin-left: 15%; width: 70%;">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="desired_situation" value="{{ client.desired_situation }}" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
      </div>
      <span style="font-weight: 900;">Альтернативные варианты:</span><br>
      <div style="margin-left: 15%; width: 70%;">
        <div  class="input-group mb-3">
          <input autocomplete="off" type="text" class="form-control" name="other_option" value="{{ client.other_options }}" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
      </div>
      <span style="font-weight: 900;">Основной мотив:</span><br>
      <div style="margin-left: 15%; width: 70%;">
        <div  class="input-group mb-3">
          <input autocomplete="off" type="text" class="form-control" name="main_motive" value="{{ client.main_motive }}" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
      </div>
      <span style="font-weight: 900;">Предложил:</span><br>
      <div style="margin-left: 15%; width: 70%;">
        <div class="input-group mb-3">
          <input autocomplete="off" type="text" class="form-control" name="proposed" value="{{ client.proposed }}" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
      </div>
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Создать клиента</button>
      <div style="height: 20vh;"></div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}" ></script>
<script>
$(function(){
  $("#phone").mask("+7(955) 555-5555");
});
</script>
{% endblock %}