{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin-top: 20px; margin-left: 3%;">
	<div class="client-parametrs">
		<form action="{% url 'update_client' client.id %}" method="post">
			{% csrf_token %}
			<span style="font-weight: 900;">телефон:</span><br>
				<span>+7{{ client.phone }}</span><br><br>
			<hr style="margin-top: 0;">
			<span style="font-weight: 900;">ФИО:</span><br>
				<div style="margin-top: 10px; width: 90%;" class="input-group mb-3">
				  <input type="text" class="form-control" name="full_name" value="{{ client.full_name }}" aria-label="Recipient's username" aria-describedby="button-addon2">
				</div>
			<span style="font-weight: 900;">Почта:</span><br>
				<div style="margin-top: 10px; width: 90%;" class="input-group mb-3">
				  <input type="text" class="form-control" name="email" value="{{ client.email }}" aria-label="Recipient's username" aria-describedby="button-addon2">
				</div>
			<span style="font-weight: 900;">Источник звонка:</span><br>
			  <select name="source_call" style="width: 70%;" class="form-select" id="floatingSelect" aria-label="Floating label select example">
			    <option selected value="{{ client.call_source }}">{{ client.call_source }}</option>
			    <option value="интернет">интернет</option>
			    <option value="наружная реклама">наружная реклама</option>
			    <option value="рекомендация">рекомендация</option>
			    <option value="циан">циан</option>
			    <option value="яндекс недвижимость">яндекс недвижимость</option>

			  </select>
			<hr>
			<span style="font-weight: 900;">Текущая ситуация:</span><br> 
				<div style="margin-top: 10px; width: 90%;" class="input-group mb-3">
				  <input type="text" class="form-control" name="current_situation" value="{{ client.current_situation }}" aria-label="Recipient's username" aria-describedby="button-addon2">
				</div>
			<span style="font-weight: 900;">Желаемая ситуация:</span><br>
				<div style="margin-top: 10px; width: 90%;" class="input-group mb-3">
				  <input type="text" class="form-control" name="desired_situation" value="{{ client.desired_situation }}" aria-label="Recipient's username" aria-describedby="button-addon2">
				</div>
			<span style="font-weight: 900;">Альтернативные варианты:</span><br>
				<div style="margin-top: 10px; width: 90%;" class="input-group mb-3">
				  <input autocomplete="off" type="text" class="form-control" name="other_option" value="{{ client.other_options }}" aria-label="Recipient's username" aria-describedby="button-addon2">
				</div>
			<span style="font-weight: 900;">Основной мотив:</span><br>
				<div style="margin-top: 10px; width: 90%;" class="input-group mb-3">
				  <input autocomplete="off" type="text" class="form-control" name="main_motive" value="{{ client.main_motive }}" aria-label="Recipient's username" aria-describedby="button-addon2">
				</div>
			<hr>
			<span style="font-weight: 900;">Предложил:</span><br>
				<div style="margin-top: 10px; width: 90%;" class="input-group mb-3">
				  <input autocomplete="off" type="text" class="form-control" name="proposed" value="{{ client.proposed }}" aria-label="Recipient's username" aria-describedby="button-addon2">
				</div>
				<input type="hidden" name="client" value="{{ client.id }}">
				<button class="btn btn-outline-secondary" style="margin-left: 35%;" type="submit" id="button-addon2">сохранить</button>
		</form>
	</div>
	<div class="client-calls">
		{% if clients_calls %}
			<h3 style="margin-bottom: 35px;">Диалоги с текущим клиентом:</h3>
			{% for i in  clients_calls %}
			<div style="margin-bottom: 3%;">
				<div class="audio_div">
					<span style="padding-bottom: 30px;vertical-align: top;" class="call_date">{{ i.call_date }}</span>
				  {% if i.url %}
					  <audio style="height: 30px;" controls style="outline: none; margin-top: 10px;">
					    <source src="{{ i.url.url }}">
					  </audio><br>
				  {% else %}
				      <p>аудио отсутствует.</p>
				  {% endif %}
				</div>
				<form method="post" action=".">
					<div class="input-group mb-3 comment_form">
					  <input autocomplete="off" type="hidden" name="call_for_comment" id='call_for_comment' value="{{ i.id }}">
					  <input autocomplete="off" type="text" class="form-control" name="comment" id="comment" placeholder="Ваш комментарий..." aria-label="Recipient's username" aria-describedby="button-addon2">
					  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">добавить</button>
					  {% csrf_token %}
					</div>
				</form>
				{% if i.comments %}
					{% for q in i.comments.all %}
						<div class="comments">
							<span style="color: #4d67bd;">{% if q.author.first_name %}{{ q.author.first_name }}{% else %}{{ q.author.username }}{% endif %}
							{% if request.user.username == q.author.username %}
								<span style="color: red; float: right; text-decoration: underline;"><a href="/delete-comment/{{ q.id }}/{{ client.slug }}/">Удалить</a></span>
							{% endif %}
							</span><br>
							<span style="color: black;">{{ q.text }}</span><br>
							<span style="color: #828282;">{{ q.create_date }}</span><br>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<hr>
			{% endfor %}
		{% else %}
			<p>У данного клиента нет ни одного звонка</p>
		{% endif %}
		Менеджер: {{ client.curator.username }}{% if client.curator.first_name %} ({{ client.curator.first_name }}){% endif %}
	</div>
</div>
{% endblock %}