{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin-left: 20px; margin-top: 20px;">
	{% if request.user.is_superuser %}
		<h2>Все потенциальные покупатели:</h2>
  		{% for i in all_clients %}
    			<hr>
    			<a href="{{ i.get_absolute_url }}">
          +7{{ i.phone }}</a><br>
          {% if i.calls %}
          Последний диалог:
            {% for q in i.calls.all %}
                {% if forloop.first %}
                  {{ q.call_date }}<br>
                  {% if q.url %}
                    <audio controls style="outline: none; margin-top: 10px;">
                      <source src="{{ q.url.url }}"> 
                    </audio><br>
                  {% else %}
                      <p>аудио отсутствует.</p>
                  {% endif %}
                {% endif %}
            {% endfor %}
          {% endif %}
  		{% endfor %}
      {% include "pagination.html" with page=all_clients %}
	{% else %}
		<h2>Ваши потенциальные клиенты:</h2>
    	{% for i in managers_clients %}
          <hr>
          <a href="{{ i.get_absolute_url }}">
          +7{{ i.phone }}
          </a><br>
          {% if i.calls %}
          Последний диалог:
            {% for q in i.calls.all %}
                {% if forloop.first %}
                  {{ q.call_date }}<br>
                  {% if q.url %}
                    <audio controls style="outline: none; margin-top: 10px;">
                      <source src="{{ q.url.url }}"> 
                    </audio><br>
                  {% else %}
                      <p>аудио отсутствует.</p>
                  {% endif %}
                {% endif %}
            {% endfor %}
          {% endif %}
    	{% endfor %}
      {% include "pagination.html" with page=managers_clients %}
	{% endif %}
</div>
{% endblock %}
