{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Дальние дачи</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <a href="/new_client/" style="color: white; font-size: 24px; text-decoration: none; margin-right: 5px; margin-left: 5px;">+</a>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Меню
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/">Все отвеченные звонки</a></li>
            <li><a class="dropdown-item" href="{% url 'clients' %}">Клиенты</a></li>
            <li><a class="dropdown-item" href="{% url 'client_list' %}">Потенциальные клиенты</a></li>
            <li><a class="dropdown-item" href="{% url 'account' %}">Личный кабинет</a></li>
            <li><a class="dropdown-item" href="{% url 'calendar' %}">Мой график</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
	<div style="margin-left: 20px; margin-top: 20px;">
		{% if request.user.is_superuser %}
			<h2>Все обработанные обращения:</h2>
	  		{% for i in all_clients %}
	          <hr>{% if i.full_name %}<a href="{{ i.get_absolute_url }}">{{ i.full_name }}</a>, +7{{ i.phone }}{% else %}<a href="{{ i.get_absolute_url }}">+7{{ i.phone }}</a>{% endif %}<br>
	          {% if i.calls %}
	          Последний диалог:
	            {% for q in i.calls.all %}
	                {% if forloop.first %}
	                  {{ q.call_date }}<br>
	                  {% if q.url %}
	                    <audio controls style="outline: none; margin-top: 10px;">
	                      <source src="{{ q.url.url }}"> 
	                    </audio><br>
	                  {% else %}
	                      <p>аудио отсутствует.</p>
	                  {% endif %}
	                {% endif %}
	            {% endfor %}
	          {% endif %}
	  		{% endfor %}
	  		{% include "pagination.html" with page=all_clients %}
		{% else %}
			<h2>Ваши обработанные клиенты:</h2>
	    	{% for i in managers_clients %}
	          <hr>{% if i.full_name %}<a href="{{ i.get_absolute_url }}">{{ i.full_name }}</a>, +7{{ i.phone }}{% endif %}<br>
	          {% if i.calls %}
	          Последний диалог:
	            {% for q in i.calls.all %}
	                {% if forloop.first %}
	                  {{ q.call_date }}<br>
	                  {% if q.url %}
	                    <audio controls style="outline: none; margin-top: 10px;">
	                      <source src="{{ q.url.url }}"> 
	                    </audio><br>
	                  {% else %}
	                      <p>аудио отсутствует.</p>
	                  {% endif %}
	                {% endif %}
	            {% endfor %}
	          {% endif %}
	    	{% endfor %}
	    	{% include "pagination.html" with page=managers_clients %}
		{% endif %}
	</div>
{% endblock %}
