{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}
{% if request.user.is_superuser %}
	<div style="margin-top: 20px;">
		<h3 style="margin-left: 20px;">Вы имеете права <a href="/admin/">суперпользователя</a></h3>
		{% for i in posts %}
		<hr>
			<div style="margin-left: 20px;">
					{% if i.client.full_name %}
						<p><a href="{{ i.client.get_absolute_url }}">{{ i.client.full_name }}</a>, звонок с номера +7{{ i.client.phone }}</p>
					{% else %}
						<p>звонок с номера <a href="{{ i.client.get_absolute_url }}">+7{{ i.client.phone }}</a></p>
					{% endif %}
				  {% if i.url %}
					  <audio controls style="outline: none; margin-top: 10px;">
					    <source src="{{ i.url.url }}">
					  </audio><br>
				  {% else %}
				      <p>аудио отсутствует.</p>
				  {% endif %}
				  <span style="color: #404040">{{ i.call_date }}</span>
				</p>
			</div>
		{% endfor %}
		{% include "pagination.html" with page=posts %}
	</div>
{% else %}
	<div style="margin-top: 20px;">
		<h3 style="margin-left: 20px;">Состоявшиеся диалоги:</h3>
		{% for i in managers_calls %}
			<hr>
			<div style="margin-left: 20px;">
					{% if i.client.full_name %}
						<p><a href="{{ i.client.get_absolute_url }}">{{ i.client.full_name }}</a>, звонок с номера +7{{ i.client.phone }}</p>
					{% else %}
						<p>звонок с номера <a href="{{ i.client.get_absolute_url }}">+7{{ i.client.phone }}</a></p>
					{% endif %}
				  <audio controls style="outline: none; margin-top: 10px;" class="align-top">
				    <source src="{{ i.url.url }}"> 
				  </audio><br>
				  <span style="color: #404040; margin-top: 10px; margin-left: 10px;">{{ i.call_date }}</span>
				</p>
			</div>
		{% endfor %}
		{% include "pagination.html" with page=managers_calls %}
	</div>

{% endif %}
{% endblock %}
